<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.CorePlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>URLDetectionSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.urldetection.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^URL Detection</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FilesystemDirectorySearchSource</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.filesystemdirectory.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^File System Directories</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array>
				<string>file.directory</string>
				<string>file.application</string>
			</array>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>WebSearchSource</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.websearch.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Web Search</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>webpage</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>GoogleWebResultsSource</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.webresults.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Google Search</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>webpage</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSSuggestSource</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.suggest.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Search Suggestions</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>text.suggestion</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>OpenSearchSuggestSource</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.opensearchsuggest.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Open Search Suggestions</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>text.suggestion</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>text.suggestion</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TextInput</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.textinput.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Text Input</string>
			<key>HGSSearchSourceCannotArchive</key>
			<true/>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>text.userinput</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemOpenAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Open</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>*</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.open</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TextLargeTypeAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Show Large Type</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>*</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.text.action.largetype</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemEjectAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Eject</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.directory</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.eject</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemShowInFinderAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.showinfinder</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Show in Finder</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionOtherTerms</key>
			<array>
				<string>^Reveal in Finder</string>
			</array>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemQuickLookAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.quicklook</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Quick Look</string>
			<key>HGSExtensionIconImagePath</key>
			<string>QuickLook.png</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
			<key>HGSActionDoesActionCauseUIContextChange</key>
			<false/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemGetInfoAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.getinfo</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Get Info</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemOpenAgainAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.openagain</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Open Again</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemOpenWithAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Open With…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>*</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.filesystem.action.openwith.application</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>file.application</string>
				<key>HGSActionArgumentClass</key>
				<string>FileSystemOpenActionApplicationArgument</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.openwith</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemRenameAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Rename…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.filesystem.action.rename.name</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>text.userinput</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.rename</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemMoveToAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Move To…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.filesystem.action.moveto.location</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>file.directory</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.moveto</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemCopyToAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Copy To…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.filesystem.action.copyto.location</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>file.directory</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.copyto</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TextAppendToFileAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Append To File…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>text.userinput</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.text.action.appendtofile.file</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>file.text</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.text.action.appendtofile</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemSetCommentAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set Comment…</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
			<key>HGSActionExcludedDirectObjectTypes</key>
			<string>file.directory</string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.core.filesystem.action.setcomments.comment</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>text.userinput</string>
			</dict>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.filesystem.action.setcomment</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>GoogleShortenURLAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Shorten URL</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>webpage</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.url.action.shortenurl</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>GoogleFeelingLuckyAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^I&apos;m Feeling Lucky</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>text.suggestion.googlesuggest</string>
				<string>webpage.googlenavsuggest</string>
				<string>text.search.googlesearch</string>
			</array>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.core.google.action.feelinglucky</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
