<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hgs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>QSBPlugin</string>
			<key>CFBundleTypeName</key>
			<string>${PRODUCT_NAME} Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Everything</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${GOOGLE_VERSIONINFO_FINDER}</string>
	<key>CFBundleIconFile</key>
	<string>QSBIcon</string>
	<key>CFBundleIdentifier</key>
	<string>${QSB_BUNDLE_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>getSelectionFromService</string>
			<key>NSPortName</key>
			<string>Quick Search Box</string>
			<key>NSTimeout</key>
			<string>10000</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSColorPboardType</string>
				<string>NSFileContentsPboardType</string>
				<string>NSFilenamesPboardType</string>
				<string>NSFontPboardType</string>
				<string>NSHTMLPboardType</string>
				<string>NSPDFPboardType</string>
				<string>NSPICTPboardType</string>
				<string>NSPostScriptPboardType</string>
				<string>NSRulerPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSTabularTextPboardType</string>
				<string>NSTIFFPboardType</string>
				<string>NSURLPboardType</string>
				<string>NSVCardPboardType</string>
				<string>NSFilesPromisePboardType</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send to Quick Search Box</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${GOOGLE_VERSIONINFO_SHORT}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Suggestion URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>googlesuggest</string>
			</array>
			<key>GTMBundleURLClass</key>
			<string>QSBGoogleSuggestURLHandler</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${GOOGLE_VERSIONINFO_LONG}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>${GOOGLE_VERSIONINFO_ABOUT}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>QSBApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>dynamic</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>QSBFeedbackURL</key>
	<string>http://groups.google.com/group/qsb-mac-discuss</string>
	<key>QSBHomepageURL</key>
	<string>http://code.google.com/p/qsb-mac</string>
	<key>CrashReporterURL</key>
	<string>http://qsb-mac-crashes.appspot.com/crashreport</string>
	<key>CrashReporterCompany</key>
	<string>QSB Team</string>
	<key>GTMGoogleSearchClientAppArgs</key>
	<dict>
		<key>client</key>
		<string>qsb-mac</string>
		<key>source</key>
		<string>qsb-mac</string>
	</dict>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>moveToApplicationsFolderAlertSuppress</string>
		<string>SULastCheckTime</string>
	</array>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://qsb-mac.googlecode.com/svn/trunk/installer/QSBUpdateAppcast.xml</string>
</dict>
</plist>
