<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.terminal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TerminalShowDirectoryAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.terminal.action.showindirectory</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.directory</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Show in Terminal</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TerminalExecuteInShellAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.terminal.action.executeinshell</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>text.userinput</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Run as Shell Script</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
