<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.DirectoryScanner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DirectoryScannerSearchSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.directory.source.Documents</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Documents Folder</string>
			<key>rootPath</key>
			<string>~/Documents</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DirectoryScannerSearchSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.directory.source.Downloads</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Downloads Folder</string>
			<key>rootPath</key>
			<string>~/Downloads</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DirectoryScannerSearchSource</string>
			<key>rootPath</key>
			<string>~/Desktop</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.directory.source.Desktop</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Desktop Folder</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DirectoryScannerSearchSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.directory.source.SystemVolume</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^System Volume</string>
			<key>rootPath</key>
			<string>/</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DirectoryScannerSearchSource</string>
			<key>rootPath</key>
			<string>~</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.directory.source.Home</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Home Folder</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
