<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.googlecorpora</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSCorporaSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Google Apps</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.googlecorpora.source</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage.application</string>
			<key>HGSCorporaDefinitions</key>
			<array>
				<dict>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/web</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>blue-google</string>
					<key>HGSObjectAttributeSearchInline</key>
					<true/>
					<key>HGSObjectAttributeName</key>
					<string>^Google.com</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/</string>
					<key>HGSObjectAttributeWebSearchDisplayString</key>
					<string>Search Google</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.google.com/search?q={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeGoogleAPIIncludeLocation</key>
					<true/>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/local</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>alt-local</string>
					<key>HGSObjectAttributeName</key>
					<string>^Local</string>
					<key>HGSCorporaSourceAttributeHideFromDropdown</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://local.google.com/</string>
					<key>HGSObjectAttributeWebSearchDisplayString</key>
					<string>Search nearby</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://local.google.com/maps?q={searchterms}</string>
					<key>HGSObjectAttributeRequiresLocation</key>
					<true/>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>maps</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google Maps</string>
					<key>HGSCorporaSourceAttributeHideFromDropdown</key>
					<true/>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/local</string>
					<key>HGSObjectAttributeGoogleAPIIncludeLocation</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://maps.google.com/</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://maps.google.com/maps?q={searchterms}</string>
					<key>HGSObjectAttributeWebSearchDisplayString</key>
					<string>Search nearby</string>
					<key>HGSObjectAttributeRequiresLocation</key>
					<true/>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>maps:</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/images</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>image_search</string>
					<key>HGSObjectAttributeSearchInline</key>
					<true/>
					<key>HGSObjectAttributeName</key>
					<string>^Google Image Search</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://images.google.com/imghp</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://images.google.com/images?q={searchterms}</string>
					<key>HGSObjectAttributeHasLocalizedGoogleDomain</key>
					<true/>
					<key>HGSObjectAttributeAcceptsSafeSearch</key>
					<true/>
				</dict>
				<dict>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>gmail</string>
					<key>HGSObjectAttributeName</key>
					<string>^Gmail</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://mail.google.com/mail/?view=tl&amp;q={searchterms}&amp;search=query&amp;fs=1</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://mail.google.com</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://www.google.com/m#gmail</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>calendar</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google Calendar</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/calendar</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://www.google.com/m#calendar</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/news</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>news</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google News</string>
					<key>HGSObjectAttributeSearchInline</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/news</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://www.google.com/m/news</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://news.google.com/news?q={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeGoogleAPIURL</key>
					<string>http://ajax.googleapis.com/ajax/services/search/blogs</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>blogger</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google Blogs</string>
					<key>HGSObjectAttributeSearchInline</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://blogsearch.google.com</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://blogsearch.google.com/?q={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>groups-icon</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google Groups</string>
					<key>HGSCorporaSourceAttributeHideCorpus</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://groups.google.com/</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://groups.google.com/groups/search?q={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>alt-shopping</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeName</key>
					<string>^Google Product Search</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/products</string>
					<key>HGSObjectAttributeSearchInline</key>
					<true/>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.google.com/products?q={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>reader</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeName</key>
					<string>^Google Reader</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://www.google.com/m#reader</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/reader</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeName</key>
					<string>^Google Talk</string>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>talk</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://talkgadget.google.com/talkgadget/popout</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://talkgadget.google.com/talkgadget/m</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>photos</string>
					<key>HGSObjectAttributeName</key>
					<string>Picasa Web Albums</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://picasaweb.google.com/</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://picasaweb.google.com/m/</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>docs</string>
					<key>HGSObjectAttributeName</key>
					<string>^Google Docs</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://docs.google.com/#search/{searchterms}</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://docs.google.com/</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://docs.google.com/m</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>igoogle</string>
					<key>HGSObjectAttributeName</key>
					<string>iGoogle</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/ig</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>notebook</string>
					<key>HGSObjectAttributeName</key>
					<string>Google Notebook</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>http://www.google.com/notebook/m</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/notebook/</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>goog411</string>
					<key>HGSObjectAttributeName</key>
					<string>GOOG-411</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeURI</key>
					<string>tel:800-4664-411</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>youtube</string>
					<key>HGSObjectAttributeName</key>
					<string>^YouTube</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.youtube.com/</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>youtube:</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.youtube.com/results?search_query={searchterms}</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>blogger</string>
					<key>HGSObjectAttributeName</key>
					<string>Blogger</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://blogger.com</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>finance</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeName</key>
					<string>Google Finance</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/finance</string>
					<key>HGSCorporaSourceAttributeMobileURIString</key>
					<string>finance:</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.google.com/finance?q={searchterms}</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>GoogleCorporaSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Google Apps For Your Domain</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.googledomaincorpora.source</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage.application</string>
			<key>HGSCorporaDefinitions</key>
			<array>
				<dict>
					<key>HGSObjectAttributeName</key>
					<string>^%@ Mail</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>gmail</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>https://mail.google.com/a/%@/?view=tl&amp;q={searchterms}&amp;search=query&amp;fs=1</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://mail.google.com/a/%@/</string>
					<key>HGSAccountTypeKey</key>
					<string>com.google.qsb.googleapps.account</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeName</key>
					<string>^%@ Calendar</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>calendar</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.google.com/calendar/hosted/%@/</string>
					<key>HGSAccountTypeKey</key>
					<string>com.google.qsb.googleapps.account</string>
				</dict>
				<dict>
					<key>HGSObjectAttributeName</key>
					<string>^%@ Docs</string>
					<key>HGSObjectAttributeHideGoogleSiteSearchResults</key>
					<true/>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>docs</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://docs.google.com/a/%@/#search/{searchterms}</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://docs.google.com/a/%@/</string>
					<key>HGSAccountTypeKey</key>
					<string>com.google.qsb.googleapps.account</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSCorporaSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Wikipedia</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.wikipediacorpora.source</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage.application</string>
			<key>HGSCorporaDefinitions</key>
			<array>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>wikipedia</string>
					<key>HGSObjectAttributeName</key>
					<string>^Wikipedia</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://en.wikipedia.org</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://en.wikipedia.org/wiki/Special:Search?search={searchterms}</string>
					<key>HGSObjectAttributeWebSuggestTemplate</key>
					<string>http://en.wikipedia.org/w/api.php?action=opensearch&amp;search={searchterms}&amp;namespace=0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSCorporaSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Amazon</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.amazoncorpora.source</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage.application</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSCorporaDefinitions</key>
			<array>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>amazon-icon</string>
					<key>HGSObjectAttributeName</key>
					<string>^Amazon</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.amazon.com</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.amazon.com/s/ref=nb_ss_gw?field-keywords={searchterms}</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSCorporaSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^IMDB</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.imdbcorpora.source</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>webpage.application</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>HGSCorporaDefinitions</key>
			<array>
				<dict>
					<key>HGSObjectAttributeIconPreviewFile</key>
					<string>imdb-icon</string>
					<key>HGSObjectAttributeName</key>
					<string>^IMDB</string>
					<key>HGSObjectAttributeURI</key>
					<string>http://www.imdb.com</string>
					<key>HGSObjectAttributeWebSearchTemplate</key>
					<string>http://www.imdb.com/find?s=all&amp;q={searchterms}</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
