<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.Contacts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSContactsSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.contacts.source.addressbook</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Address Book Contacts Source</string>
			<key>HGSSearchSourceUTIsToExcludeFromDiskSources</key>
			<string>com.apple.addressbook.person</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array>
				<string>email</string>
				<string>contact.addressbook</string>
			</array>
			<key>HGSSearchSourceSupportedTypes</key>
			<array>
				<string>contact.addressbook</string>
				<string>text</string>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ContactEmailAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.contacts.action.email</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>contact</string>
				<string>text.emailaddress</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Email</string>
			<key>HGSExtensionIconImagePath</key>
			<string>gmail.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ContactTextChatAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.contacts.action.chat.text</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>contact</string>
				<string>text.instantmessage</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Instant Message</string>
			<key>HGSExtensionIconImagePath</key>
			<string>action-chat-icon</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ContactVideoChatAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.contacts.action.chat.video</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>contact</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Video Chat</string>
			<key>HGSExtensionIconImagePath</key>
			<string>action-videochat-icon</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ContactAudioChatAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.contacts.action.chat.audio</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>contact</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Audio Chat</string>
			<key>HGSExtensionIconImagePath</key>
			<string>action-audiochat-icon</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
