<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>System AppleScript</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.systemapplescript</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.showallapplications</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Show All Applications</string>
			<key>HGSExtensionIconImagePath</key>
			<string>showAll.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>showAll</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.shutdown</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Shut Down</string>
			<key>HGSExtensionIconImagePath</key>
			<string>shutDown.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>shutdown</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.sleep</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Sleep</string>
			<key>HGSExtensionIconImagePath</key>
			<string>sleep.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>sleep</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.restart</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Restart</string>
			<key>HGSExtensionIconImagePath</key>
			<string>restart.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>restart</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.quitVisibleApplications</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Quit Visible Applications</string>
			<key>HGSExtensionIconImagePath</key>
			<string>quitVisibleApps.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>quitVisibleApps</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.logOut</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Log Out</string>
			<key>HGSExtensionIconImagePath</key>
			<string>logout.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>logout</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.lockScreen</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Lock Screen</string>
			<key>HGSExtensionIconImagePath</key>
			<string>lockScreen.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>lockScreen</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.hideOthers</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Hide Others</string>
			<key>HGSExtensionIconImagePath</key>
			<string>hideOthers.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>hideOthers</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.emptytrash</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Empty Trash</string>
			<key>HGSExtensionIconImagePath</key>
			<string>emptyTrash.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>emptyTrash</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.ejectdisktray</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Eject Disk Tray</string>
			<key>HGSExtensionIconImagePath</key>
			<string>ejectDiskTray.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>ejectDiskTray</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.closedisktray</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Close Disk Tray</string>
			<key>HGSExtensionIconImagePath</key>
			<string>closeDiskTray.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>closeDiskTray</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.captureregion</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Capture Region</string>
			<key>HGSExtensionIconImagePath</key>
			<string>grabicon.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>captureRegion</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.systemapplescript.action.capturewindow</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Capture Window</string>
			<key>HGSExtensionIconImagePath</key>
			<string>grabicon.icns</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>captureWindow</string>
		</dict>
	</array>
</dict>
</plist>
