<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Actions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Application UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Applications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>ChatBuddies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Clipboard Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>Codesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Contacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CorePlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>CrashReporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Create Appcast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>Create DMGs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Create Keystone Config.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Delete Preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Developer Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Dictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Directory Scanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Email URL Action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>GData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>GTM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Google Corpora.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>GoogleAccounts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>HeaderDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>Images AppleScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>JSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>Mount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Networking AppleScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>OCMock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Open Build Folder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>QSB Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>QSB Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>QSB SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>QSBPluginUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Recent Documents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Release Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Screensaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Shared File List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Shortcuts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Spotlight Files.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>System AppleScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Terminal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>Test All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Transference Beacon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Transference Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Transference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Trash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Vermilion Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Vermilion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Volume AppleScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Web Bookmarks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>iTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33D2C5F20DD1068000C1FBDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D2CADF0DD24C2500C1FBDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33EEA68A0DD0D9C0005766AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0BB1670FAB8A6300AA4858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5831D9100BFBBB00EC32CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF0EB620F60744E0041E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF0EE210F61D0850041E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF0F4870F671D9C0041E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF2C4780E5E19A400F4D546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620CB3080FAA827E0029801C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621044EF113C85AA00AF95F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623ADD320EC0CC17001651D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623FA35E0E5C8D97003630C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6263CAE80EB79F3600FF03A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>627FAEBA0DF9D73500E3E765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62EA8BBD0F2E7DE200C92E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>795F071909870215004C6BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9415C40EEF52930049AE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9415CE0EEF52970049AE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FF019AA0EB089CB001A2C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0FFC6B10C6033800C1A6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B148D860F705F35002E05FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B148F940F7156B6002E05FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B2E2A400F99018600F80E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3D266E0EAE8E7A004EA504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3D2A2A0EAFDA66004EA504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3EECE20CEA86A100D933C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3EF76E0EF2C8000036FFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3EF87F0EF2C8A80036FFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B48108D1046345700BB6A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B53EB3410DC0E84007E6AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B61289E0F4641BF00E29B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B63DD670D9458E500395A2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B6F2CE00DA2B7F50052CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B6F2EF80DA2BA260052CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B6F2F200DA2BB660052CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B6F2F400DA2C37C0052CA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B735F9A0EC905E900E74421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B77DEFE0F284A4C00FA2A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B77E0DB0F28FC3B00FA2A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B847B8011499653002C460B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B852B981007AD1B00880329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B95A9F010642867000C4C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAB339110BC81A7002E1AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC6E3ED0FAABE71005A0F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC88DC41159580C00A6E783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCCD2620EC8E5EC00688D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCCD2C70EC8F8C200688D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCCD3590EC8F93C00688D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD97D090E636D8C00F5C83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDB84E911518A1F00C411B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDB8622115194B700C411B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDB89971152C55000C411B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BEDECFC121B1BEB00ABD57F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF62022110A60C2000AB941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF62715110A6519000AB941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF627AD110A661A000AB941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46932F50DDB7A0200C5A64A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F551320DF73059008A846E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E3B57B0EB6573300CB713D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E3B6FC0EB66AA900CB713D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EF8F740ECB3EFF008DD6DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FEECCC0EC4BF99000758EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
