<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.ApplicationUISource</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUISource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.ui.application.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Application UI Source</string>
			<key>HGSSearchSourceCannotArchive</key>
			<true/>
			<key>HGSSearchSourcePivotableTypes</key>
			<array>
				<string>file.application</string>
				<string>appui</string>
			</array>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>appui.item</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXPress</string>
			<key>ApplicationUIAXAction</key>
			<string>AXPress</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXIncrement</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>ApplicationUIAXAction</key>
			<string>AXIncrement</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXDecrement</string>
			<key>ApplicationUIAXAction</key>
			<string>AXDecrement</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXConfirm</string>
			<key>ApplicationUIAXAction</key>
			<string>AXConfirm</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXPick</string>
			<key>ApplicationUIAXAction</key>
			<string>AXPick</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXCancel</string>
			<key>ApplicationUIAXAction</key>
			<string>AXCancel</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXRaise</string>
			<key>ApplicationUIAXAction</key>
			<string>AXRaise</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXShowMenu</string>
			<key>ApplicationUIAXAction</key>
			<string>AXShowMenu</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationUIAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applicationUI.action.AXDelete</string>
			<key>ApplicationUIAXAction</key>
			<string>AXDelete</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>appui.item</string>
			<key>HGSActionMustRunOnMainThread</key>
			<true/>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
