<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>term</key>
		<string>abcdef</string>
		<key>item</key>
		<string>abcdef</string>
	</dict>
	<dict>
		<key>term</key>
		<string>abcdef</string>
		<key>item</key>
		<string>xabcdefx</string>
	</dict>
	<dict>
		<key>term</key>
		<string>abcde</string>
		<key>item</key>
		<string>abx cde 01234567890123456789</string>
	</dict>
	<dict>
		<key>term</key>
		<string>abcd</string>
		<key>item</key>
		<string>xabx cdx</string>
	</dict>
	<dict>
		<key>term</key>
		<string>abcde</string>
		<key>item</key>
		<string>xax xbx 0 xcx xdx 0 xex</string>
	</dict>
</array>
</plist>
