<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.GoogleAccounts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAccountType</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.google.account</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Google</string>
			<key>HGSExtensionPoint</key>
			<string>HGSAccountTypesExtensionPoint</string>
			<key>HGSExtensionOfferedAccountType</key>
			<string>kHGSGoogleAccountTypeID</string>
			<key>HGSExtensionOfferedAccountClass</key>
			<string>GoogleAccount</string>
			<key>QSBSetUpAccountViewNibName</key>
			<string>SetUpGoogleAccountView</string>
			<key>QSBSetUpAccountViewControllerClassName</key>
			<string>GoogleAccountSetUpViewController</string>
			<key>QSBEditAccountWindowNibName</key>
			<string>EditGoogleAccount</string>
			<key>QSBEditAccountWindowControllerClassName</key>
			<string>GoogleAccountEditController</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAccountType</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.googleapps.account</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Google Apps</string>
			<key>HGSExtensionPoint</key>
			<string>HGSAccountTypesExtensionPoint</string>
			<key>HGSExtensionOfferedAccountType</key>
			<string>kHGSGoogleAppsAccountTypeID</string>
			<key>HGSExtensionOfferedAccountClass</key>
			<string>GoogleAppsAccount</string>
			<key>HGSExtensionIsUserVisible</key>
			<false/>
			<key>QSBSetUpAccountViewNibName</key>
			<string>SetUpGoogleAccountView</string>
			<key>QSBSetUpAccountViewControllerClassName</key>
			<string>GoogleAccountSetUpViewController</string>
			<key>QSBEditAccountWindowNibName</key>
			<string>EditGoogleAccount</string>
			<key>QSBEditAccountWindowControllerClassName</key>
			<string>GoogleAccountEditController</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
