//
//  QSB.xcconfig
//
//  Xcode configuration file for building a Debug QSB.
//
//  Copyright (c) 2008 Google Inc. All rights reserved.
//
//  Redistribution and use in source and binary forms, with or without
//  modification, are permitted provided that the following conditions are
//  met:
//
//    * Redistributions of source code must retain the above copyright
//  notice, this list of conditions and the following disclaimer.
//    * Redistributions in binary form must reproduce the above
//  copyright notice, this list of conditions and the following disclaimer
//  in the documentation and/or other materials provided with the
//  distribution.
//    * Neither the name of Google Inc. nor the names of its
//  contributors may be used to endorse or promote products derived from
//  this software without specific prior written permission.
//
//  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
//  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
//  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
//  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
//  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
//  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
//  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
//  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
//  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
//  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
//  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
//

// Package Versioning
#include "PackageVersion.xcconfig"

ARCHS[sdk=macosx10.6*] = i386 x86_64 ppc

GCC_PREFIX_HEADER = QSB.pch

GOOGLE_VERSIONINFO_FINDER = ${GOOGLE_PRODUCT_NAME} - ${QSB_CODE_NAME} ${GOOGLE_VERSIONINFO_LONG}${GOOGLE_VERSION_EXTRAINFO}${GOOGLE_VERSION_DEBUG_FLAG}, © ${GOOGLE_VERSION_COPYRIGHT} Google Inc.
GOOGLE_VERSION_MAJOR = 2
GOOGLE_VERSION_MINOR = 0
GOOGLE_VERSION_FIXLEVEL = 0

GOOGLE_MAC_ROOT = ${SRCROOT}/../..
GOOGLE_MAC_TOOLS = ${GOOGLE_MAC_ROOT}/Tools

QSB_CODE_NAME = Cobalt
QSB_BUNDLE_ID = com.google.qsb
QSB_RELEASE_NOTE_PATH = ${BUILT_PRODUCTS_DIR}/QuickSearchBoxReleaseNotes_${GOOGLE_VERSIONINFO_LONG}_${QSB_CODE_NAME}.html
VERMILLION_PLUGIN_API_VERSION = 5

GCC_WARN_SHADOW = YES

MACOSX_DEPLOYMENT_TARGET = 10.5

GTM_HOST_WARNING_CFLAGS = -Wno-format-nonliteral
