<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.Applications</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>file.application</string>
			<key>HGSSearchSourceUTIsToExcludeFromDiskSources</key>
			<string>com.apple.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Applications Source</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>file.application</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsQuitAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.action.quit</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Quit</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsForceQuitAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.action.forcequit</string>
			<key>HGSExtensionBeta</key>
			<true/>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Force Quit</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsHideAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionBeta</key>
			<true/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.action.hide</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Hide</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsQuitOthersAction</string>
			<key>HGSExtensionBeta</key>
			<true/>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.action.quitothers</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Quit Others</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ApplicationsHideOthersAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionBeta</key>
			<true/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.applications.action.hideothers</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.application</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Hide Others</string>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
