<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.mount</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>MountSearchSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.mount.source</string>
			<key>MountSearchSourceServices</key>
			<dict>
				<key>_rfb._tcp</key>
				<dict>
					<key>scheme</key>
					<string>vnc</string>
					<key>type</key>
					<string>share.vnc</string>
				</dict>
				<key>_sftp-ssh._tcp</key>
				<dict>
					<key>scheme</key>
					<string>sftp</string>
					<key>type</key>
					<string>share.sftp</string>
				</dict>
				<key>_ssh._tcp</key>
				<dict>
					<key>scheme</key>
					<string>ssh</string>
					<key>type</key>
					<string>share.ssh</string>
				</dict>
				<key>_http._tcp</key>
				<dict>
					<key>scheme</key>
					<string>http</string>
					<key>type</key>
					<string>share.http</string>
				</dict>
				<key>_smb._tcp</key>
				<dict>
					<key>scheme</key>
					<string>smb</string>
					<key>type</key>
					<string>share.smb</string>
				</dict>
				<key>_afpovertcp._tcp</key>
				<dict>
					<key>scheme</key>
					<string>afp</string>
					<key>type</key>
					<string>share.afp</string>
				</dict>
				<key>_ftp._tcp</key>
				<dict>
					<key>scheme</key>
					<string>ftp</string>
					<key>type</key>
					<string>share.ftp</string>
				</dict>
			</dict>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Mount</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>share</string>
		</dict>
	</array>
</dict>
</plist>
