<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.iTunes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.decreaserating</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Decrease iTunes Rating</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>decreaseRating</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.increaserating</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Increase iTunes Rating</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>increaseRating</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.toggleMute</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Toggle iTunes Mute</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>toggleMute</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.increaseitunesvolume</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Increase iTunes Volume</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>increaseVolume</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.decreaseitunesvolume</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Decrease iTunes Volume</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>decreaseVolume</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto5</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 5</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo5</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto4</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 4</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo4</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto3</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 3</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo3</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto2</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 2</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo2</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto1</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 1</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo1</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.setitunesratingto0</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Set iTunes Rating To 0</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>setRatingTo0</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.toggleShuffle</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Toggle iTunes Shuffle</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>toggleShuffle</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.toggleRepeat</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Toggle iTunes Repeat</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>toggleRepeat</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^iTunes Music</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>itunes</string>
			<key>HGSSearchSourceSupportedTypes</key>
			<array>
				<string>itunes</string>
				<string>file.media.music</string>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesPlayAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.play</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Play in iTunes</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>itunes</string>
				<string>file.media.music</string>
			</array>
			<key>HGSExtensionIconImagePath</key>
			<string>Play.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesPlayInPartyShuffleAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.playinpartyshuffle</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.media.music</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Play in iTunes DJ</string>
			<key>HGSExtensionIconImagePath</key>
			<string>PlayInPartyShuffle.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAddToPartyShuffleAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.addtopartyshuffle</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file.media.music</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Add to iTunes DJ</string>
			<key>HGSExtensionIconImagePath</key>
			<string>AddToPartyShuffle.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppPlayingAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.playapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Play iTunes</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>playNow</string>
			<key>HGSExtensionIconImagePath</key>
			<string>Play.icns</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>ITunesShowIfPlaying</key>
			<false/>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppPlayingAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.pauseapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Pause iTunes</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>pauseNow</string>
			<key>HGSExtensionIconImagePath</key>
			<string>Pause.icns</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>ITunesShowIfPlaying</key>
			<true/>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.nextapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Next iTunes Track</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>goForward</string>
			<key>HGSExtensionIconImagePath</key>
			<string>NextSong.icns</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.previousapp</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>^Previous iTunes Track</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>goBack</string>
			<key>HGSExtensionIconImagePath</key>
			<string>PreviousSong.icns</string>
			<key>HGSAppleScriptFileName</key>
			<string>iTunes</string>
			<key>HGSAppleScriptApplications</key>
			<array>
				<dict>
					<key>HGSAppleScriptBundleID</key>
					<string>com.apple.iTunes</string>
					<key>HGSAppleScriptMustBeRunning</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
</dict>
</plist>
