<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<dict>
		<key>document</key>
		<array>
			<string>doc</string>
			<string>html</string>
			<string>odt</string>
			<string>pdf</string>
			<string>png</string>
			<string>rtf</string>
			<string>txt</string>
			<string>zip</string>
		</array>
		<key>presentation</key>
		<array>
			<string>pdf</string>
			<string>png</string>
			<string>ppt</string>
			<string>swf</string>
			<string>txt</string>
		</array>
		<key>spreadsheet</key>
		<array>
			<string>csv</string>
			<string>html</string>
			<string>ods</string>
			<string>pdf</string>
			<string>tsv</string>
			<string>xls</string>
		</array>
	</dict>
	<key>extensionMap</key>
	<dict>
		<key>csv</key>
		<string>Comma-separated Document (CSV)</string>
		<key>doc</key>
		<string>Microsoft Word Document (DOC)</string>
		<key>html</key>
		<string>HTML Document (HTML)</string>
		<key>ods</key>
		<string>OpenDocument Spreadsheet (ODS)</string>
		<key>odt</key>
		<string>OpenDocument Format (ODT)</string>
		<key>pdf</key>
		<string>Portable Document Format (PDF)</string>
		<key>png</key>
		<string>Image File (PNG)</string>
		<key>ppt</key>
		<string>Microsoft Powerpoint Document (PPT)</string>
		<key>rtf</key>
		<string>Rich Text Format (RTF)</string>
		<key>swf</key>
		<string>Flash Format (SWF)</string>
		<key>tsv</key>
		<string>Tab-separated Document (TSV)</string>
		<key>txt</key>
		<string>Text (TXT)</string>
		<key>xls</key>
		<string>Microsoft Excel Document (XLS)</string>
		<key>zip</key>
		<string>ZIP Archive (with images) (ZIP)</string>
	</dict>
</dict>
</plist>
